<!DOCTYPE html>
<html lang="en" th:replace="base :: parent(~{::#content}, ~{::title})" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>About</title>
</head>

<body>
    <div id="content" class="mx-auto mt-10 p-4">
        <div class="container bg-gray-200 mx-auto mt-10 p-5 rounded-lg shadow-lg text-center">
            <h1 class="text-3xl font-bold mb-4">About Us</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam iste molestias facere repudiandae nisi
                temporibus fugit deserunt pariatur velit sit, odit corrupti porro ad possimus nemo perspiciatis nam
                aliquam
                maiores!</p>
        </div>
    </div>
</body>

</html>